html,
body {
	height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: #1F1E1E;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}


.title {
    text-align: center;
    font-size: 36px;
    line-height: 130%;
    font-weight: 500;
}