@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'animations';

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
	
	&__inner {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	&__top {
		@include flex(space-between);
		flex-wrap: wrap;
		padding: 16px 0 49px;
	}
	
	&__phone {
		font-size: 16px;
		line-height: 130%;
		font-weight: 700;
		color: $white-main;

		&-number {
			margin-left: 19px;
			padding: 12px 31px 13px;
			font-weight: 400;
			border-radius: 22px;
			background-color: $brown;
		}
	}

	&__title {
		margin-bottom: auto;
		text-align: center;
		font-family: 'PT Serif', serif;
		font-size: 90px;
		line-height: 130%;
		font-weight: 700;
	}

	&__desc {
		max-width: 420px;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 700;
	}

	&__btn {
		display: inline-block;
		margin-bottom: 20px;
		padding: 19px 55px 20px;
		font-size: 18px;
		border-radius: 30px;
		color: $white-main;
		background-color: $brown;
	}

	&__arrow {
		text-align: center;
		margin-bottom: 15px;
	}
}

.menu {
    width: 100%;
    margin-top: 15px;
    padding: 27px 0 24px;
    border-top: 1px solid $white-main;
    border-bottom: 1px solid $white-main;

	&__list {
		@include flex(space-evenly);
		font-size: 16px;
		color: $white-main;
	}
}

.direction {
    padding: 100px 0;

	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 32px;
	}
	
	&__img {
		display: block;
	}
	
	&__text {
		padding: 10px 19px 14px;
		font-size: 16px;
		border: 1px solid $white;
		border-top: none;
	}
}

.travel-info {
    background-image: url(../images/travel-info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;

	&__title {
		margin-bottom: 50px;
		color: $white-main;
	}
	
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 54px 67px;
	}
	
	&__img {
		margin-bottom: 15px;
	}
	
	&__text {
		font-size: 16px;
		line-height: 130%;
		color: $white-main;
	}
}

.popular {
    padding: 100px 0;

	&__title {
		margin-bottom: 40px;
	}
	
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 32px;
		padding-bottom: 80px;
		border-bottom: 1px solid $white;
	}
	
	&__link {
		min-height: 256px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 16px 24px 19px;
		color: $white-main;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		line-height: 130%;

		&:nth-child(3),
		&:nth-child(6) {
			grid-column: span 2;
			grid-row: span 2;
		}

		&-title {
			margin-bottom: 15px;
			font-weight: 500;

			&--big {
				font-size: 24px;
			}
		}
	}

	&__price {
		margin-top: auto;
		font-size: 16px;
		font-weight: bold;
	}
	
	&__country,
	&__time {
		margin-bottom: 15px;
	}
}

.map {
    padding-bottom: 100px;

	&__title {
		margin-bottom: 46px;
	}
}

.about {
    padding-bottom: 100px;

	&__inner {
		display: grid;
		grid-template-columns: 448px 640px;
		grid-gap: 32px;
	}
	
	&__title {
		margin-bottom: 25px;
		text-align: left;
	}
	
	&__text {
		margin-bottom: 34px;
	}
	
	&__link {
		font-size: 16px;
		line-height: 19px;
		color: $gray;
		text-decoration: underline;
	}
	
	&__popup {
		@include flex(center);
		background-image: url(../images/video-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
}

.gallery {
    padding: 50px 0 105px;
    background: $brown;
    color: $white-main;

	&__top {
		@include flex(space-between);
		margin-bottom: 40px;
		padding-right: 160px;
	}
	
	&__link {
		font-size: 16px;
		line-height: 19px;
		text-decoration: underline;
	}
	
	&__item-inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 32px;
	}
}


.slick-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}

.slick-prev {
    right: 60px;
}




.footer {
    padding: 80px 0;
    background: #1F1E1E;
}

.footer__logo {
    text-align: center;
    margin-bottom: 70px;
}

.footer__box {
    max-width: 830px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    color: rgba(255, 255, 255, .8);
}

.footer__info {
    width: 225px;
}

.footer__box-title {
    margin-bottom: 7px;
    font-weight: 500;
    color: $white-main;
}

.footer__copy {
    margin-bottom: 3px;
}

.footer__link {
    text-decoration: underline;
}

.footer__address {
    width: 165px;
}

.footer__contacts {
    width: 210px;
}

.footer__mail {
    display: block;
}

.menu__btn {
    display: none;
}

@import 'media';